# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.mypy_cache/
*.sqlite3
.coverage
htmlcov/
build/
dist/

# Node
node_modules/
.next/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
*.log

# OS
.DS_Store
Thumbs.db
