# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.mypy_cache/
*.sqlite3
.coverage
# Coverage artifacts
# htmlcov/ directory is kept under version control
# frontend/coverage/ directory is also stored
htmlcov/*.png
frontend/coverage/lcov-report/*.png
build/
dist/

# Node
node_modules/
.next/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
*.log

# OS
.DS_Store
Thumbs.db
